div.container{
    background-color: darkgray;
    font-family: Calibri, Arial, sans;
    padding: 20px;
    border-left: 7px dotted black;
    border-right: 7px dotted blue;
}
div.container div{
    border: 1px solid red;
    padding: 12px;
    margin-bottom: 16px;
}
#box1{
    background-color: goldenrod;
    padding: 10px 20px 30px 40px;
}
#box2{
    background-color: greenyellow;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
}
#box3{
    background-color: indigo;
    margin-bottom: 0px;
    padding: 50px 5px;
}